<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta charset="UTF-8">
		<meta name="description" content="Beheer jou geschenken.">
		<meta name="keywords" content="NHL, nhl hoogeschool, studentenlijst">
		<meta name="author" content="Mikhail Lashkov">

        <title>@Page.Title - Login</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        <link type="text/css" rel="stylesheet" href="~/Content/materialize.min.css"  media="screen,projection"/>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="~/Content/style.css">
		<link rel="stylesheet" href="~/Content/login.css">
    </head>
    <body class="cyan">
        @RenderSection("featured", required: false)
        <div id="login-page" class="row">
            @RenderBody()
        </div>
        @RenderSection("Scripts", required: false)
    </body>
</html>